@model PomponetWebsite.ViewsModels.PeopleVM;
@{
	Layout = null;
}
<html>
<head>
	<title>Registrarse</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<style>
		body {
			background-image: url('/css/fondo.jpeg');
			background-size: cover;
			background-position: center;
		}
	</style>

</head>
	<body>
	<div class ="row mt-5 justify-content-center">
		<div class="col-sm-4">
			<div class="card">
				<div class="card-header">
					Registrarse
				</div>
				<div class="card-body">
					<form asp-controller="Acceso"asp-action="Registrarse"method="post">
						<input class="form-control mb-3" type="text" placeholder="Nombre" required asp-for="Names" />
						<input class="form-control mb-3" type="email" placeholder="Correo" required asp-for="Email" />
						<input class="form-control mb-3" type="text" placeholder="Nombre Usuario" required asp-for="UserName" />
						<input class="form-control mb-3" type="text" placeholder="Edad" required asp-for="Age" />
						<input class="form-control mb-3" type="password" placeholder="Contraseña" required asp-for="Password" />
						<input class="form-control mb-3" type="password" placeholder="Confirmar Contraseña" required asp-for="ConfirmPassword" />
						<div class="d-grid gap-2 mb-3 text-center">
							<button class="btn btn-primary" type="submit">Registrarse</button>
						</div>
					@if(ViewData["Mensaje"]!=null)
					{
						<div class=" alert alert-danger" role="alert">
							@ViewData["Mensaje"]
						</div>
					}
					¿Ya tienes una cuenta? <a asp-controller="Acceso" asp-action="Login">Iniciar Sesion</a>
				</form>

				</div>
			</div>
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	</body>

</html>