@model PomponetWebsite.Models.Inventories

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Inventories</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_Inventory" />
            <div class="form-group">
                <label asp-for="Number_Inventorie" class="control-label"></label>
                <input asp-for="Number_Inventorie" class="form-control" />
                <span asp-validation-for="Number_Inventorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Person" class="control-label"></label>
                <input asp-for="Id_Person" class="form-control" />
                <span asp-validation-for="Id_Person" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Tool" class="control-label"></label>
                <input asp-for="Id_Tool" class="form-control" />
                <span asp-validation-for="Id_Tool" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Epp" class="control-label"></label>
                <input asp-for="Id_Epp" class="form-control" />
                <span asp-validation-for="Id_Epp" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Deleted" /> @Html.DisplayNameFor(model => model.Deleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
